// 评论插件的样式修改
.wl-card .wl-meta > span {
  background: transparent;
}

#wl-edit {
  resize: none;
  min-height: 5em;
}

.waline-wrapper {
  position: relative;
  overflow: hidden;
  opacity: 0;
  transition: 0.3s;

  [provider="Waline"] {
    opacity: 0;
    margin-bottom: 5rem;
  }

  &.hide {
    max-height: 0;
    [provider="Waline"] {
      opacity: 0;
      transition: 0.3s;
    }
    #ShowComment {
      display: block;
    }
    #HideComment {
      display: none;
    }
  }
  &.show {
    max-height: 9999px;
    [provider="Waline"] {
      opacity: 1;
      transition: 0.3s;
    }
    #ShowComment {
      display: none;
    }
    #HideComment {
      display: block;
    }
  }
}

#ShowComment {
  top: 0;
}
#HideComment {
  bottom: 0;
}
#ShowComment,
#HideComment {
  display: none;
  position: absolute;
  left: 50%;
  margin-left: -4em;
  width: 8em;
  z-index: 5;
  user-select: none;
  cursor: pointer;
  background: var(--theme-color);
  color: rgba($color: #fff, $alpha: 0.9);
  border: 0;
  border-radius: 0.3em;
  padding: 0.3em 0.9em;
  transition: 0.3s;
  font-size: 0.9rem;
}
