// place your custom styles here
.none {
  width: 0;
  height: 0;
  user-select: none;
  pointer-events: none;
  overflow: hidden;
  display: none;
}

// 底部信息的样式
.vp-footer-wrapper {
  .vp-footer {
    display: flex;
  }

  .footer-icp {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    img {
      width: 14px;
      margin-right: 4px;
    }
  }
  .footer-about {
    padding: 2px 3px;
    border-radius: 3px;
    position: relative;
    color: #fff;
    &:hover {
      background-color: rgba($color: #0c7bf4, $alpha: 0.8);
    }
  }
}

// 首页边栏信息按钮的颜色
.vp-blog-type-button .icon-wrapper.active {
  color: #fff;
}
// 字体
@font-face {
  font-family: 'mo7_font';
  src: url('/font/mo7_font.ttf');
}

.vp-blog-hero-title {
  font-size: 3.8rem;
  font-family: 'mo7_font';
}
