// place your custom styles here
.none {
  width: 0;
  height: 0;
  user-select: none;
  pointer-events: none;
  overflow: hidden;
  display: none;
}

// 选中的 的顶部标签高亮
.theme-container {
  .vp-nav-links {
    .route-link-active {
      &::after {
        inset: auto 0 0;
        visibility: visible;
      }
    }
  }
}

// 自定义的页脚
.vp-footer-wrapper {
  .vp-footer {
    display: flex;
  }

  .footer-icp {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    & > img {
      width: 14px;
      margin-right: 4px;
    }
  }
  .footer-about {
    padding: 2px 3px;
    border-radius: 3px;
    position: relative;
    color: #fff;
    &:hover {
      background-color: rgba($color: #0c7bf4, $alpha: 0.8);
    }
  }
}
